*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: dimgrey;
}

    /*aqui estou modificando as imagens do main logo, search, menu e cart*/
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}
.logo img{
    width: 200px;
}
.menu-items a img{
    width: 26px;
}
.menu-items a{
    margin-left: 30px;
}
.mai{
    width: 100%;
    background-color: dimgrey;
    padding: 0 5%;
    display: flex;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    margin-top: 80px;
}
    /*termino das modificações das imagens*/



    /*aqui estou modificando os textos das descrições*/
.left h1{
    font-size: 50px;
    color: #00C0AF;
}
.left p{
    color: white;
    margin-bottom: 80px;
}
.left span{
    font-size: 30px;
    font-weight: 500;
    color: white;
}
.left a{
    text-decoration: none;
    color: white;
    background-color: #00C0AF;
    width: fit-content;
    padding: 15px 20px;
    border-radius: 5px;
}
.rigth{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.logotipo{
    width: 700px;
    height: 500px;
}
    /*termino das modificações dos textos*/
@media screen and (max-width: 820px){
    main{
        background-color: darkslategray;
        display: flex;
        flex-direction: column;
    }
    .mai{
        background-color: darkslategrey;
        display: flex;
        flex-direction: column;
    }
}
