*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    display: flex;
}
.logotipo{
    width: 200px;
}
@media screen and (max-width: 820px){
    .pacifico-regular{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 820px){
    .base{
        display: flex;
        flex-direction: column;
    }
    
}
@media screen and (max-width: 820px){
    .contatos{
        display: flex;
        flex-direction: column;
    }
    
}
    


    /*aqui estou começando o grid*/
body{
    display: grid;
    grid-template-areas:
    "cabeca cabeca cabeca"
    "lateral meio meio"
    "pe pe pe";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
header{
    grid-area: cabeca;
    background-color: cadetblue;
    text-align: center;
}
aside{
    grid-area: lateral;
    background-color: #333;
}
main{
    grid-area: meio;
    background-color: dimgrey;
}
footer{
    grid-area: pe;
    background-color: cadetblue;
}
@media screen and (max-width: 820px){
    body{
        display: flex;
        flex-direction: column;
        grid-template-areas: 
        "cabeca"
        "lateral"
        "meio"
        "pe";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    /*termino do grid*/
} 


    /*aqui estou iniciando o card*/
.caixa_mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.produto-wrapper{
    border-radius: 10px;
    width: 300px;
    height: 450;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: cadetblue;
    transition: 0.5s;
    box-shadow: 3px 6px 9px darkcyan;
}
.produto-wrapper :hover{
    background-color: beige;
    transition: 1.5s
}
.produto-weapper img{
    height: 280px;
    border-radius: 5px;
}
.produto-weapper a:hover{
    background-color: beige;
    color: rgb(12, 7, 0)
}
    /*termino do card*/




    /*aqui estou fazendo algumas modificações no header, footer e main*/
.sofa{
    height: 250px;
    max-width: 270px;
}
.logotipoo{
    width: 200px;
}
.contatos{
    text-align: center;
    align-items: center;
}
.texto{
    text-align: center;
    align-items: center;
    padding: 40px 600px;
    display: flex;
    justify-content: space-around;
    color: black;
}
.caixa_mae a{
    background-color: darkcyan;
    border-radius: 80px;
    padding: 5px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    color: black;
}
    /*termino das modificações no header, footer e main*/




    /* aqui estou colocando fonte de letra no header*/
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
    /*termino da fonte*/



    /*começo da modificação do MENU no aside*/
.menu li{
    display: inline-block;
}
menu li a{
    display: inline-block;
    color: white;
    padding: 15px;
}
.menu-item a:hover{
    background-color: darkcyan;
    transition: 1.5s;
}

.menuu-item{
    position: absolute;
    display: none;
    background-color: #333;
}
.menuu-item a{
    display: block;
}
.menuu:hover .menuu-item{
    display: block;
}
    /* termino da modificação do MENU no aside*/


    
    /*aqui estou modificando a opção SERIÇOS*/
nav{
    background-color: #333;
}
nav li{
    display: inline-block;
}
nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px;
}
nav li a:hover{
    background-color: darkcyan;
    transition: 1.5s;
}
.dropdown-menu{
    position: absolute;
    display: none;
    background-color: #333;
}
.dropdown-menu a{
    display: block;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
    /*termino da modificação SERIÇOS*/


